# This is a comment
/home/giuseppe/UNI/Fondamenti di Controlli;uni:UNI/Da Completare/Fondamenti di Controlli
/home/giuseppe/UNI/Automi e Linguaggi;uni:UNI/Da Completare/Automi e Linguaggi
/home/giuseppe/UNI/Fisica 2;uni:UNI/Da Completare/Fisica 2
/home/giuseppe/Desktop/UNI/Probabilita e statistica;uni:UNI/Da Completare/Probabilità e statistica
/home/giuseppe/Desktop/UNI/Laurea;uni:UNI/Laurea
